.alert { 
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 8px !important; 
    padding: 1.1875rem 1rem;
    color: $neutral-80;
    margin-bottom: 8px;
   

    .alert-text {
        display: grid;
        margin-bottom: 0;
        font-size: $font-size-sm !important;
    }
 

    &.error {
        background-color: $error-light !important;
        border: 0;
        box-shadow: 0px 12px 12px rgba(0, 83, 125, 0.1);
        border-radius: 4px;
        i::before{
            content: "\e016";
            color:  $error-dark;
            font-style: normal;
        }
    }

    &.info {
        background-color: $info-light !important;
        border: 0;
        box-shadow: 0px 12px 12px rgba(0, 83, 125, 0.1);
        border-radius: 4px;
        i::before{
            content: "\e016";
            color:  $info-dark  !important;
            font-style: normal;
        }
    }

    &.error {
        background-color: $error-light !important;
        border: 0;
        box-shadow: 0px 12px 12px rgba(0, 83, 125, 0.1);
        border-radius: 4px;
        i::before{
            content: "\e016";
            color:  $error-dark;
            font-style: normal;
        }
    }
    &.success {
        background-color: $success-light !important;
        border: 0;
        box-shadow: 0px 12px 12px rgba(0, 83, 125, 0.1);
        border-radius: 4px;
        i::before{
            content: "\e01c";
            color:  $success-dark;
            font-style: normal;
        }
    }
    &.warning {
        background-color: $warning-light !important;
        border: 0;
        box-shadow: 0px 12px 12px rgba(0, 83, 125, 0.1);
        border-radius: 4px;
        i::before{
            content: "\e016";
            color:  $warning-dark;
            font-style: normal;
        }
    }
    &.default {
        background-color: $neutral-20 !important;
        border: 0;
        box-shadow: 0px 12px 12px rgba(0, 83, 125, 0.1);
        border-radius: 4px;
        i::before{
            content: "\e016";
            color:  $neutral-80;
        }
    }
}