@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


body{
    font-family: 'Oxygen', sans-serif;
    font: $font-size-base !important;

}
 
a{
    color: $primary !important;
    text-decoration: underline;
}

h1, .h1{
    font-family: 'Poppins', sans-serif;
    font-size: $font-size-h1;
    line-height:  $font-size-h1+4;
    font-weight: $font-weight-bold;
    margin: 0.2em 0;
}

h2, .h2{
    font-family: 'Poppins', sans-serif;
    font-size: $font-size-h2;
    line-height:  $font-size-h2+4;
    font-weight: $font-weight-bold;
    margin: 0.2em 0;
}

h3, .h3{
    font-family: 'Poppins', sans-serif;
    font-size: $font-size-h3;
    line-height:  $font-size-h3+4;
    font-weight: $font-weight-base;
    margin: 0.2em 0;
}

h4, .h4{
    font-family: 'Poppins', sans-serif;
    font-size: $font-size-h4;
    line-height:  $font-size-h4+4;
    font-weight: $font-weight-base;
    margin: 0.2em 0;
}

p{
    font-size: $font-size-base !important;
    margin-bottom: 8px;
    &.header{
        font-weight: $font-weight-bold;
    }
}
small{
    font-size: $font-size-sm !important;
}

.text-right{
    text-align: end;
    }

    .material-symbols-outlined{
        font-size: $font-size-base !important;
    }