.navbar-header{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 8px 12px !important; 
    .logo{
        height: 40px;
    
    }
   
    
}

.fixed-top {
    top: 0; 
}