//Primary Color

$primary-light-1:   #8a5ee8 !default;
$primary-light-2:   #a07fe6 !default;
$primary-light-3:   #b298e9 !default;
$primary-light-4:   #cbbbee !default;
$primary-light-5:   #e3dcf1 !default;

$primary:           #7B44EE !default;

$primary-dark-1:    #6b34e1 !default;
$primary-dark-2:    #592abe !default;
$primary-dark-3:    #481da5 !default;
$primary-dark-4:    #30146a !default;
$primary-dark-5:    #1d0d3f !default;

//Neutral Color

$neutral-00:   #fff !default;
$neutral-10:   #eee !default;
$neutral-20:   #ededed !default;
$neutral-30:   #d3d3d3 !default;
$neutral-40:   #a3a3a3 !default;
$neutral-50:   #787879 !default;
$neutral-60:   #636263 !default;
$neutral-70:   #404040 !default;
$neutral-80:   #323232 !default;
$neutral-90:   #0A0D13 !default; 

//Feedback Color

$sucess-light:    #E3F2E0 !default;
$sucess-medium:   #8DC881 !default;
$sucess-dark:     #459A33 !default;

$warning-light:    #E3F2E0 !default;
$warning-medium:   #8DC881 !default;
$warning-dark:     #459A33 !default;

$info-light:    #E3F2E0 !default;
$info-medium:   #8DC881 !default;
$info-dark:     #459A33 !default;

$error-light:    #E3F2E0 !default;
$error-medium:   #8DC881 !default;
$error-dark:     #459A33 !default;


// Font size
$font-size-xl: 1.6rem;
$font-size-big: 1.2rem;
$font-size-base: 1rem;
$font-size-small: .9rem;
$font-size-xs: .8rem;

$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Border radius

$border-radius-input: 0.3rem;
$border-radius-button: 0.6rem;