//Colors

$primary:   #7B44EE !default;


$neutral-00:   #fff !default;
$neutral-10:   #eee !default;
$neutral-20:   #ededed !default;
$neutral-30:   #d3d3d3 !default;
$neutral-40:   #a3a3a3 !default;
$neutral-50:   #787879 !default;
$neutral-60:   #636263 !default;
$neutral-70:   #404040 !default;
$neutral-80:   #323232 !default;
$neutral-90:   #0A0D13 !default; 