.login{ 
    background: url('../../assets/img/svg/home-bg.svg'), $primary;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .content{ 
        text-align: center;
        .logo{
            margin-bottom: 4em;
            max-height: 100px !important; 
        }
        .spinner-border{
            color: $neutral-50;
        }
    }
}