// View used as login form

.login{ 
    background: url('../../assets/img/svg/home-bg.svg'), $primary;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .content{  
        .logo{ 
            max-height: 70px !important;  
            margin: 2em 2em;
        }
        .spinner-border{
            color: $neutral-50;
        }
        .form-login{
            padding-bottom: 2em;

        }
        .lost-pwd{
            padding-bottom: 4em;
            
        }
        .about{
            text-align: center;
        }
    }
}