// View used as home logged

.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem;
}
.panel-container{
    padding: 0 !important;
    margin: 0 !important;
}