 


// Task info. Icons for tasks details  

.task-info{
  font-size: $font-size-sm;
  display: flex !important;
  align-items: center;
  &.date{
    .icon::before{
      content: "calendar_month";
    }
  }
  &.time{
    .icon::before{
      content: "schedule";
    }
  }
  &.notification{
    .icon::before{
      content: "notifications";
    }
  }

  &.location{
    .icon::before{
      content: "location_on";
    }
  }

   
  span{
    font-size: $font-size-sm;
    color: $neutral-40;
    margin-right: 4px;
    
  }
}

// Task states

.state{
  font-size: $font-size-base;
  align-items: center; 
  height: 30px; 
  display: flex;
  span{
    width: auto !important;
    display: flex;

    
  }
 
    
  &.incomplete{
    span::before{ 
      content: '';
      background: url('../../assets/img/svg/icon/pending.svg');
      background-size: cover;
      width: 20px;
      height: 20px; 
      display: block;  
      margin-right: 8px;

      
    }
  }

  &.completed{
    span::before{  
      content: '';
      background: url('../../assets/img/svg/icon/ok.svg');
      background-size: cover;
      width: 20px;
      height: 20px; 
      display: block;  
      margin-right: 8px;
      
    }
   
  }

  &.delayed{
    span::before{   

      content: '';
      background: url('../../assets/img/svg/icon/error.svg');
      background-size: cover;
      width: 20px;
      height: 20px; 
      display: block;  
      margin-right: 8px; 
    }
  }

  &.small{ 
    span::before{  
      width: 15px;
    height: 15px;
      
    }
  }
}


//Task list container
.task-container {
   
  .list-task{
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .title{ 
    background-color: white;
    max-width: 500px;  
    display: flex;
    flex-direction: column; 
    padding-top: 8px; 

    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    top: 50px;
    margin: 0 auto;
 
    .week{
      background: linear-gradient(135deg, #7740ED 0%, #9163F4 53.12%, #BFA2FF 100%);
      border-radius: 15px;  
      display: flex;
      flex-direction: column;
      height: 70px;
      padding: 45px 30px;  
      margin: .3em;
      
     
          color: white;
          font-size: $font-size-sm;
          justify-content: center;
           
        
        .col{
          text-align: center;
          padding: 0em 8px;
          max-width: 60px;  
          min-height: 65px;
          align-items: center !important;
          justify-content: center;
          cursor: pointer !important;
          line-height: 28px;
          margin: 4px;
          font-weight: $font-weight-bold;
          &:hover{
            background-color: #BFA2FF;
            border-radius: 20px;
          }
    
          &.active{
            background-color: white;
            color: $primary;
            border-radius: 20px;
          }
          
        }
      
    }
    
    .content{
      width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between; 
     align-items: center; 
     order: 0;
     align-self: stretch;
     flex-grow: 0;
     padding: 0px 14px;  


     .info{
         width: 70%; 
         display: table;
         flex-direction: row;
         align-items: center;
         padding: 0px;
         gap: 8px;
         p{
          margin: 0;
         }
         span{
             color: $neutral-50;
         }
         a{
             color:  #50D2AB !important;
         }
     }
     .completed{
         width: 18%;
         max-width: 100px; 

         .flex-wrapper {
             display: flex;
             flex-flow: row nowrap;
           }
           
           .single-chart {
             width: 100%;
             justify-content: space-around ;
           }
           
           .circular-chart {
             display: block;
             margin: 10px auto;
             max-width: 80%;
             max-height: 250px;
           }
           
           .circle-bg {
             fill: none;
             stroke: #eee;
             stroke-width: 4;
           }
           
           .circle {
             fill: none;
             stroke-width: 3.8;
             stroke-linecap: round;
             animation: progress 1s ease-out forwards;
           }
           
           @keyframes progress {
             0% {
               stroke-dasharray: 0 100;
             }
           }
             
           .circular-chart.green .circle {
             stroke: #50D2AB;
           }
           
           .percentage {
             text-anchor: middle;
             fill: #50D2AB; 
             font-family: 'Poppins';
             font-style: normal;
             font-weight: 700;
             font-size: 10px; 
           }
     }
     
    }
  }

  
}

.list-task{
  width: 100%; 
  overflow-y: visible !important; 
  
  
  
}

.task{   
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 20px 20px;
  gap: 14px;
  
  min-height: 94px; 
  background: #FFFFFF; 
  border: 1px solid $neutral-10;
  border-radius: 15px;
  box-shadow: $shadow-soft;
  cursor: pointer;

 

  &:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.098);
  }

.header{
   
  width: 100%;
  display: flex; 
  justify-content: space-between;  
  border-bottom: 1px solid $neutral-20;
  padding: 5px 0px;
}

  h4{ 
    font-size: $font-size-base;

    &.type-1{
      .icon::before{
        content: "psychology";
      }
    }
    &.type-2{
      .icon::before{
        content: "restaurant";
      }
    }
    &.type-3{
      .icon::before{
        content: "medication";
      }
    }
    &.type-4{
      .icon::before{
        content: "sport";
      }
    }


    h3{
      font-size: $font-size-lg; 
      span{
        font-size: $font-size-sm !important;
        padding-right: 2px;
      }
    }
    .state{
      font-size: $font-size-base;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 5px;
      width: auto;
       
    }
  }
  .content{
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 15px;
   
  }
  .details{
    border-bottom: 1px solid $neutral-20;
  padding: 5px 0px;
  width: 100%;
  }
  .alert{
    width: 100%;
  }

}

// Task in modal
.task-modal{    
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 8px;   
  border-radius: $border-radius-widget;
   
   

  
  .title{
    width: 100%;
    display: flex; 
    justify-content: space-between;  
    border-bottom: 1px solid $neutral-20;
    padding: 10px 0px; 
    margin-bottom: 0!important;
  }

  
  .detail{ 
    width: 100%;
  }
    .content{ 
      display: flex !important;
      align-items: center;
      vertical-align: middle;
      gap: 12px;
      margin-bottom: 10px;
      

      span{
        font-size: $font-size-sm;
        color: $neutral-40;
        margin-right: 4px;
      }
    }
    .state{
      font-size: $font-size-sm;
      width: 100%;
      span::before{
        font-size: $font-size-sm;
      }
    }
  
 

 

  
}

.footer-task-modal{
  justify-content: left !important;
  p{
    font-weight: $font-weight-bold;
  }
  .buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    button{
      width: 100%;
    }
  }

}

//question

.question{

  small{
    color: $neutral-40;
    display: block;
    margin-bottom: 5px;
  }
  h4{
    margin-bottom: 0;
  }
}

.answer{ 
  padding: 10px 0px;
  font-size: $font-size-base;

  &.quiz{ 
    width: 100%; 

    .form-check{
      border: 1px solid $neutral-20;
      background-color: $neutral-10;
      border-radius: $border-radius-widget;
      width: 100%;
      padding: 10px 30px; 
    }

  }
}

.modal-body{
  .task{
    padding: 0;
    box-shadow: none;
    border: 0;
    margin-bottom: 0;
  }
  .alert{
    margin-bottom: 0;
  }
}