
.widget-state{
    width: 100%;
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;  
        padding: 0 .5rem;
        margin-bottom: .5rem;
        span{
            font-size: $font-size-xs;
            color: $neutral-50;
        }
        
    }
    .content{
        .states{ 
            margin-left: .5rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;  
            height: 108px;
            overflow-x: scroll; 

            flex: none;
            order: 1;
            flex-grow: 0; 
        
            .state{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                gap: 10px;
                background: #FFFFFF; 
                border: 1px solid #ECEDEF;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                max-width: 75px;
                min-height: 108px;
            }
        
        }
        
    }
    .footer{
        float: right;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        margin: .5rem 0rem;
        color: $primary;
        font-size: $font-size-small;

    }
    
}

